services:
  randommovies: 
    container_name: randommovies
    build:
      context: randommovies/app
      target: builder
    # flask requires SIGINT to stop gracefully
    # (default stop signal from Compose is SIGTERM)
    stop_signal: SIGINT
    ports:
      - '5000:5000'
    networks:
      - random-frontend-net
  frontend:
    container_name: frontend
    build:
      context: frontend
    environment:
      NODE_ENV: production
    ports:
      - 8080:8080
    networks:
      - random-frontend-net
  database:
    image: mongo:latest
    container_name: database
    environment:
  # For release reasons, this database uses hardcoded credentials. In a real world application, this must be in a .env file
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: 12345
      MONGO_INITDB_DATABASE: mflix
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db
    networks:
      - mongo-network

  movies:
    build:
      context: movies
    container_name: movies
    ports:
      - "4000:4000"
    depends_on:
      - database
    environment:
      MONGO_URI: mongodb://admin:12345@mongodb:27017/mflix?authSource=admin
    networks:
      - mongo-network
    
volumes:
  mongo-data:

networks:
    random-frontend-net:
      driver: bridge    
    mongo-network:
      driver: bridge