services:
  randommovies: 
    container_name: randommovies
    build:
      context: randommovies/app
      target: builder
    # flask requires SIGINT to stop gracefully
    # (default stop signal from Compose is SIGTERM)
    stop_signal: SIGINT
    depends_on:
      - movies
    environment:
      MOVIES_URL: http://movies:4000/graphql
    ports:
      - '5000:5000'
    networks:
      - random-frontend-net
      - movies-network
  frontend:
    container_name: frontend
    build:
      context: frontend
    environment:
      NODE_ENV: production
    ports:
      - 8080:8080
    networks:
      - random-frontend-net
      - rating-net
  database:
    image: mongo:latest
    container_name: database
    environment:
  # For release reasons, this database uses hardcoded credentials. In a real world application, this must be in a .env file
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: 12345
      MONGO_INITDB_DATABASE: sample_mflix
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db
    networks:
      - movies-network
      - opinion-net

  movies:
    container_name: movies
    build:
      context: movies
    depends_on:
      - database
    environment:
      NODE_ENV: production
      DATABASE_CONN_STRING: mongodb://admin:12345@database:27017/sample_mflix?authSource=admin
      ALLOWED_ORIGINS: '*'
    ports:
      - 4000:4000
    networks:
      - movies-network
    
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - opinion-net
      - rating-net

  calificacion:
    container_name: calificacion
    build:
      context: calificacion
    environment:
      RABBITMQ_URL: amqp://rabbitmq
    ports:
      - "5001:5001"
    depends_on:
      - rabbitmq
    networks:
      - movies-network

  opiniones:
    container_name: opiniones
    build:
      context: opiniones
    environment:
      RABBITMQ_URL: amqp://rabbitmq
      DATABASE_CONN_STRING: mongodb://admin:12345@database:27017/ratings_db?authSource=admin
    depends_on:
      - rabbitmq
      - database
    networks:
      - rating-net

volumes:
  mongo-data:

networks:
    random-frontend-net:
      driver: bridge    
    movies-network:
      driver: bridge
    opinion-net:
      driver: bridge
    rating-net:
      driver: bridge