# Ignore node_modules directory
node_modules

# Ignore build output
dist
build

# Ignore logs
*.log

# Ignore environment variable files
.env

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore TypeScript configuration files
tsconfig.json

# Ignore IDE-specific files
.vscode
.idea

# Ignore local development files
*.local

# Ignore any other temporary files
*.tmp
*.bak