version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mflix-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: 12345

  graphql:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mflix-graphql
    ports:
      - "4000:4000"
    depends_on:
      - mongodb
    environment:
      MONGO_URI: mongodb://admin:12345@mongodb:27017/mflix?authSource=admin

volumes:
  mongo-data: